# 2016_2017 Oefening DB creation & querying 
## Joins: inner join, left join, subselect, union

In [1]:
%connect sqlquiz

# De datasets

In de database SQLQUIZ staan twee aparte cases.

<a id=project></a>
## Case: PROJECT

In de case PROJECT staan 4 tabellen: medewerker, functie, project, werkt. Die gaan over de inzet van medewerkers op projecten. De case PROJECT wordt ook in de reader gebruikt.

<img src='project.png'>

<a id=burgerzaken></a>
## Case: BURGERZAKEN

In de case BURGERZAKEN staan 3 tabellen: burger, vergunning en aanvraag, waarin wordt bijgehouden welke burger welke vergunningen heeft aangevraagd.

<img src='burgerzaken.png'>

In [2]:
%show medewerker

In [3]:
%show functie

#### Opdracht 61

Op <a href=#project>project</a>, toon van alle medewerkers die een functie hebben, hun naam en de naam van hun functie.

Voorbeeld: Je kunt zien wat er uit een correcte query moet komen door de cel met %output 61 te runnen
Plaats je query in de cel onder %%uitwerking 61:
```
%%uitwerking 61
SELECT medewerker.naam, functie.naam
FROM medewerker, functie
WHERE functie = code```

En run de cel

In [4]:
%output 61

In [5]:
%%uitwerking 61
SELECT medewerker.naam, functie.naam
FROM medewerker, functie 
WHERE functie = code

#### Opdracht 62

Op <a href=#burgerzaken>burgerzaken</a>, geef van alle **aanvragen** de naam van de burger en de naam van de vergunning.

In [6]:
%output 62

In [7]:
%%uitwerking 62
SELECT burger.naam, vergunning.naam
FROM aanvraag
JOIN burger
ON aanvraag.burger = burger.sofi
JOIN vergunning
ON aanvraag.vergunning = vergunning.naam

#### Opdracht 63

Op <a href=#burgerzaken>burgerzaken</a>, geef van alle aanvragen de naam van de burger en de status

In [8]:
%output 63

In [9]:
%%uitwerking 63
SELECT burger.naam, aanvraag.status
FROM aanvraag
JOIN burger
ON aanvraag.burger = burger.sofi

#### Opdracht 64

Op <a href=#burgerzaken>burgerzaken</a>, geef van alle aanvragen de afdeling die hem behandeld en het deelkantoor waar de aanvraag is ingediend.

In [10]:
%output 64

In [11]:
%%uitwerking 64
SELECT vergunning.afdeling, aanvraag.deelkantoor
FROM aanvraag
JOIN vergunning
ON aanvraag.vergunning = vergunning.naam

#### Opdracht 65

Op <a href=#project>project</a>, geef van alle medewerkers die een functie hebben, de functienaam, hun naam en woonplaats

In [12]:
%output 65

In [13]:
%%uitwerking 65
SELECT functie.naam, medewerker.naam, medewerker.woonplaats
FROM medewerker
JOIN functie
ON medewerker.functie = functie.code

#### Opdracht 66

Op <a href=#project>project</a>, toon van alle projecten die een projectleider hebben, de naam van het project en de naam van de projectleider

In [14]:
%output 66

In [15]:
%%uitwerking 66
SELECT project.naam, medewerker.naam
FROM project
JOIN medewerker
ON project.projectleider = medewerker.nr

#### Opdracht 67

Op <a href=#project>project</a>, geef per functie waar medewerkers bij horen, de functienaam en het gemiddelde uurloon van de medewerkers met die functie

In [16]:
%output 67

In [17]:
%%uitwerking 67
SELECT functie.naam, SUM(medewerker.uurloon)/COUNT(*)
FROM medewerker
JOIN functie
ON functie.code = medewerker.functie
GROUP BY functie.naam

#### Opdracht 68

Op <a href=#project>project</a>, geef van de medewerkers die een baas hebben hun naam en de naam van hun baas.

In [18]:
%output 68

In [19]:
%%uitwerking 68
SELECT medewerker.naam, baas.naam
FROM medewerker
JOIN medewerker baas
ON medewerker.baas = baas.nr

###### Opdracht 69

Op <a href=#burgerzaken>burgerzaken</a>, geef de vergunningsnaam van alle aanvragen van burgers die huurder zijn

In [20]:
%output 69

In [21]:
%%uitwerking 69
SELECT aanvraag.vergunning
FROM aanvraag
JOIN burger
ON aanvraag.burger = burger.sofi
WHERE ishuurder == 'J'

#### Opdracht 70

Op <a href=#burgerzaken>burgerzaken</a>, geef per afdeling de naam en de vergunningnaam en data van alle afgehaalde vergunningen (status = A)

In [22]:
%output 70

In [23]:
%%uitwerking 70
SELECT vergunning.afdeling, aanvraag.vergunning, aanvraag.afhaaldatum
FROM aanvraag
JOIN vergunning
ON aanvraag.vergunning = vergunning.naam
WHERE aanvraag.status == 'A'

#### Opdracht 71

Op <a href=#burgerzaken>burgerzaken</a>, geef van alle (deels) arbeidsongeschikten de naam en de namen van de door hun afgehaalde vergunningen

In [24]:
%output 71

In [25]:
%%uitwerking 71
SELECT burger.naam, aanvraag.vergunning
FROM aanvraag
JOIN burger
ON aanvraag.burger = burger.sofi
WHERE burger.wao > 0 AND aanvraag.status == 'A'

## Unaire relaties

Een unaire relatie is een relatie van een tabel naar zichzelf. In dit voorbeeld is dat de koppeling tussen een leidinggevende (baas) en een ondergeschikte medewerker. Een unaire relatie werkt hetzelfde als een normale relatie, alleen moet je om 2 verschillende medewerkers te joinen de tabel medewerker hernoemen om onderscheid te maken tussen de baas en de ondergeschikte. Dat noemen we een alias.

#### Opdracht 72

Op <a href=#project>project</a>, geef per baas de naam en het aantal ondergeschikten, gesorteerd op naam van de baas

In [26]:
%output 72

In [27]:
%%uitwerking 72
SELECT b.naam AS naam, COUNT(m.naam) AS 'aantal ondergeschikten'
FROM medewerker m
JOIN medewerker b
ON m.baas = b.nr
GROUP BY b.naam

#### Opdracht 73

Op <a href=#project>project</a>, toon van alle bazen die ondergeschikten uit Leiden hebben, de naam van de baas en het aantal ondergeschikten uit Leiden

In [28]:
%output 73

In [29]:
%%uitwerking 73
SELECT b.naam AS naam, COUNT(m.naam) AS "aantal ondergeschikten"
FROM medewerker m
JOIN medewerker b
ON m.baas = b.nr
WHERE m.woonplaats == 'Leiden'
GROUP BY b.naam

#### Opdracht 74

Op <a href=#project>project</a>, toon van elke medewerker waarvan zijn baas uit een andere woonplaats komt dan hijzelf, de naam van de baas

In [30]:
%output 74

In [31]:
%%uitwerking 74
SELECT b.naam AS naam
FROM medewerker m
JOIN medewerker b
ON m.baas = b.nr
WHERE m.woonplaats != b.woonplaats

#### Opdracht 75

Op <a href=#burgerzaken>burgerzaken</a>, geef de naam van alle burgers die weleens een aanvraag hebben gedaan bij hetzelfde deelkantoor als waar zij wonen

In [32]:
%output 75

In [33]:
%%uitwerking 75
SELECT DISTINCT burger.naam
FROM burger
JOIN aanvraag
ON burger.sofi = aanvraag.burger
WHERE burger.deelkantoor == aanvraag.deelkantoor

#### Opdracht 76

Op <a href=#burgerzaken>burgerzaken</a>, geef per afdeling de naam en het aantal aanvragen

In [34]:
%output 76

In [35]:
%%uitwerking 76
SELECT vergunning.afdeling AS afdeling, COUNT(*) AS "aantal aanvragen"
FROM aanvraag
JOIN vergunning
ON aanvraag.vergunning = vergunning.naam
GROUP BY vergunning.afdeling

#### Opdracht 77

Op <a href=#burgerzaken>burgerzaken</a>, geef per deelkantoor (in aanvraag) de opbrengsten (totaal van de kosten van alle betaalde aanvragen)

In [36]:
%output 77

In [37]:
%%uitwerking 77
SELECT aanvraag.deelkantoor AS deelkantoor, SUM(vergunning.kosten) AS 'totaal kosten'
FROM aanvraag
JOIN vergunning
ON aanvraag.vergunning = vergunning.naam
WHERE aanvraag.betaald == 'J'
GROUP BY aanvraag.deelkantoor

#### Opdracht 78

Op <a href=#burgerzaken>burgerzaken</a>, geef de naam van alle burgers die 2 vergunningen hebben afgehaald (status = A)

In [38]:
%output 78

In [39]:
%%uitwerking 78
SELECT burger.naam
FROM aanvraag
JOIN burger
ON aanvraag.burger = burger.sofi
WHERE aanvraag.status = 'A'
GROUP BY burger.naam
HAVING COUNT(*) = 2;

#### Opdracht 79

Op <a href=#burgerzaken>burgerzaken</a>, geef naam en adres van alle huurders die weleens een vergunning bij Burgerzaken hebben aangevraagd

In [40]:
%output 79

In [41]:
%%uitwerking 79
SELECT DISTINCT burger.naam, burger.adres
FROM aanvraag
JOIN burger
ON aanvraag.burger = burger.sofi
JOIN vergunning
ON aanvraag.vergunning = vergunning.naam
WHERE burger.ishuurder = 'J' AND vergunning.afdeling = 'Burgerzaken';

#### Opdracht 80

Op <a href=#burgerzaken>burgerzaken</a>, geef van alle aanvragen de vergunning en het aantal aanvragen door een huiseigenaar

In [42]:
%output 80

In [43]:
%%uitwerking 80
SELECT aanvraag.vergunning, COUNT(aanvraag.vergunning) AS 'aantal aanvragen'
FROM aanvraag
JOIN burger
ON aanvraag.burger = burger.sofi
WHERE burger.iseigenaar == 'J'
GROUP BY aanvraag.vergunning

#### Opdracht 81

Op <a href=#burgerzaken>burgerzaken</a>, geef per burger de naam en de langste tijd dat hij/zij op een vergunnig moest wachten (=aanvraagtermijn)

In [44]:
%output 81

In [45]:
%%uitwerking 81
SELECT burger.naam, MAX(vergunning.aanvraagtermijn) AS 'langste wachttijd'
FROM aanvraag
JOIN burger
ON aanvraag.burger = burger.sofi
JOIN vergunning
ON aanvraag.vergunning = vergunning.naam
GROUP BY burger.naam

#### Opdracht 82

Op <a href=#burgerzaken>burgerzaken</a>, geef per werkgever de naam en het aantal medewerkers dat een Paspoort heeft aangevraagd

In [46]:
%output 82

In [47]:
%%uitwerking 82
SELECT burger.werkgever, COUNT(*) AS 'aantal medewerkers'
FROM aanvraag
JOIN burger
ON aanvraag.burger = burger.sofi
WHERE aanvraag.vergunning == 'Paspoort'
GROUP BY burger.werkgever

#### Opdracht 84

Op <a href=#burgerzaken>burgerzaken</a>, geef per afdeling het aantal aanvragen door een (deels) wao gerechtigde

In [48]:
%output 84

In [49]:
%%uitwerking 84
SELECT vergunning.afdeling, COUNT(*) AS 'aantal aanvragen'
FROM aanvraag
JOIN burger
ON aanvraag.burger = burger.sofi
JOIN vergunning
ON aanvraag.vergunning = vergunning.naam
WHERE burger.wao > 0
GROUP BY vergunning.afdeling

## Left Join

Een Inner Join tussen bijvoorbeeld medewerker en functie toont uiteindelijk alleen de medewerkers waar een functie bij hoort en functies waar een medewerker bij hoort. Soms wil je echter de resultaten van een bepaalde tabel behouden, ook als er geen rij aan gekoppeld kan worden uit de andere tabel. Daarvoor kun je gebruik maken van de Left Join. De Left Join behoud alle rijen uit de linker tabel (links van de left join operator) ook als die niet gejoined kunnen worden aan een rij uit de rechter tabel. We moeten daarvoor de koppeling tussen de twee tabellen (vaak Foreign Key = Primary Key) wel in de **ON** clausule opnemen. Voor rijen uit de linker tabel die niet gejoined kunnen worden aan de rechter tabel worden de kolommen uit de rechter tabel op NULL gezet. Merk op dat als je de where-clausule een hogere prioriteit heeft, dus rijen die met where worden uitgefilterd blijven weg.

#### Opdracht 85

Op <a href=#project>project</a>, toon van alle medewerkers hun naam en de naam van hun functie

In [50]:
%output 85

In [51]:
%%uitwerking 85
SELECT medewerker.naam, functie.naam
FROM medewerker
LEFT JOIN functie
ON medewerker.functie = functie.code

#### Opdracht 86

Op <a href=#project>project</a>, geef van alle medewerkers hun naam en indien hun functienaam met een "P" begint hun functienaam

In [52]:
%output 86

In [53]:
%%uitwerking 86
SELECT medewerker.naam, functie.naam
FROM medewerker
LEFT JOIN functie
ON medewerker.functie = functie.code AND functie.naam LIKE 'P%'

#### Opdracht 87

Op <a href=#project>project</a>, toon het aantal bedrijven waarvoor een medewerker werkt die meer dan 50% is ingezet

In [54]:
%output 87

In [55]:
%%uitwerking 87
SELECT COUNT(DISTINCT project.bedrijf) AS "aantal bedrijven"
FROM werkt
JOIN project
ON werkt.project = project.code
WHERE werkt.inzet_perc > 50

#### Opdracht 88

Op <a href=#project>project</a>, toon de projectnaam en functienaam van alle medewerkers die op dat project werken

In [56]:
%output 88

In [57]:
%%uitwerking 88
SELECT project.naam, functie.naam
FROM werkt
JOIN project
ON werkt.project = project.code
JOIN medewerker
ON werkt.medewerker = medewerker.nr
JOIN functie
ON medewerker.functie = functie.code

#### Opdracht 89

Op <a href=#project>project</a>, toon van alle functies waar medewerkers bij horen, de functienaam en het totale inzet_perc van alle medewerkers met die functie

In [58]:
%output 89

In [59]:
%%uitwerking 89
SELECT functie.naam, SUM(werkt.inzet_perc) AS 'totale inzet'
FROM functie
LEFT JOIN medewerker
ON medewerker.functie = functie.code
LEFT JOIN werkt
ON medewerker.nr = werkt.medewerker
WHERE medewerker.nr IS NOT NULL
GROUP BY functie.naam