# Tutorial SQL Notebooks

De SQL oefeningen staan in een Jupyter notebook. Een notebook bestaat uit cellen die je kunt selecteren door erop te klikken. In een notebook kun je cellen met tekst en uitleg combineren met cellen met programmacode. Daardoor kunnen we een tutorial notebook maken met uitleg, instructie en opgaven, maar waarin je zelf ook je eigen aantekeningen en experimentele SQL queries kunt opnemen.

# Werken in Notebooks

### Cel Maken
Laten we eerst proberen enkele cellen te maken en te verwijderen. Om een cel te maken kun je een bestaande cel selecteren, en in het menu klikken op Insert Above/Below. Alternatief heeft een Notebook twee werkmodes, een EDIT-MODUS waarin je een cursor ziet en kunt typen (het kader om de cel kleurt groen), en een CEL-MODUS waarin alleen een cel is geselecteerd (het kader om de cel kleurt blauw). Als je in de EDIT-MODUS zit kun je naar de CEL-MODUS gaan door op ESC klikken. In de CEL-Modus kun je door 'a' (van Above) of 'b' (van Below) te klikken ook een nieuwe cel maken ('a' intypen zonder aanhalingstekens).

# Cel type aanpassen

Je kunt het type cel aanpassen door naar de CEL-MODUS te gaan en 'm' (van MarkDown, een text opmaak taal) te klikken, of 'y' te klikken om er een programmacode cel van te maken. Je kunt het cell type ook aanpassen in het menu.

### Text invoeren

Je kunt text invoeren door ergens in een geselecteerde cel te klikken om een cursor te plaatsen. Je bent dan in EDIT-MODUS. Zoals je zult zien wordt de opgemaakte tekst dan anders getoond. Je kunt bijvoorbeeld met #-tekens aan het begin van de regel kopjes maken.

#### probeer het uit
Maak hieronder een lege cel, en typ je naam erin.

### Cellen verwijderen

Je kunt een cel verwijderen door een cel te selecteren en in CEL-MODUS een 'x' te typen.

#### Probeer het uit

Verwijder onderstaande cel

#### --Verwijder mij--

# SQL oefeningen

Om de SQL opgaven te kunnen oefenen, werken we aan opdrachten in een Jupyter Notebook. In code-cellen kunnen we instructies typen, bij dit practicum zijn dat vaak SQL queries. De code in een cel kun je uitvoeren door de cel te selecteren en `SHIFT-ENTER` in te toetsen. Als de code uitvoer geeft, wordt die onder de cel getoond.

# Case: Project

Voor deze tutorial maken we gebruik van de tabel medewerker van de database 'PROJECT' die ook in de reader wordt gebruikt. Onderstaande queries zijn alleen ter illustratie hoe de SQL Notebooks werken, in volgende notebooks worden de SQL queries geoefend.

Je kunt alleen werken met een database als je deze connect, in het notebook staat daarom een %connect <database> cel, die moet je uitvoeren.

In [1]:
%connect project

#### Tutorial Opdracht 1

**Geef de naam en woonplaats van alle medewerkers.**

De opdracht geeft aan wat er moet worden getoond. Je kunt zien welke gegevens er uit een correcte query komen door de onderstaande cel uit te voeren, waarin %output met het opdrachtnummer staat.

In [2]:
%output 1

Je kunt een uitwerking voor de opdracht uitproberen. Indien je eerst wilt kijken hoe de tabellen in de database heten, kun je gebruik maken van %tables.

In [3]:
%tables

Vervolgens kun je %describe TABELNAAM gebruiken om de structuur te zien.

In [4]:
%describe medewerker

#### SQL query proberen
Om in een notebook iets met SQL uit te proberen of commentaar op te nemen kun je een nieuwe cel tussenvoegen (zie boven). Als in de cel programmacode komt te staan moet je het *cell type* op *code* zetten. Om een SQL query uit te kunnen voeren zet je `%%sql` op de eerste regel met een query daaronder. Zoals bijvoorbeeld in de cell hieronder is gedaan. Maak zelf ook een nieuwe cel en zet daarin een query in die je uitvoert.

In [5]:
%%sql
select * 
from medewerker

#### Tijdelijke cel weer verwijderen
Als je een tijdelijke cel niet meer nodig hebt kun je die verwijderen door in CEL-MODUS een 'x' te typen (of in INSERT-MODUS ESC-'x').

#### Opdrachten beantwoorden
Om de opdracht te beantwoorden gebruik je %%uitwerking OPDRACHTNUMMER met daaronder de query. Typ in de cel hieronder het onderstaande in en run de cel met SHIFT-ENTER:
```
%%uitwerking 1
SELECT naam, woonplaats
FROM medewerker
```

In [6]:
%%uitwerking 1
SELECT naam, woonplaats
FROM medewerker

#### Automatisch feedback op jouw antwoorden
Jouw antwoorden worden automatisch gecontroleerd. Als je een antwoord goed hebt, dan kleur de titelbalk groen (zie boven).

Let goed op het aantal kolommen dat gevraagd wordt. Als je teveel of te weinig kolommen opgeeft dan zie je geen groene balk maar wel een rode foutmelding onderaan.

In [7]:
%%uitwerking 1
select naam 
from medewerker
limit 2

Als het aantal rijen niet overeenkomt met de gewenste uitvoer dan kleurt de titelbalk ook rood. Let vooral op rijen met een NULL waarde (getoond als een leeg vakje), voor SQL is dat ook een rij.

In [8]:
%%uitwerking 1
select naam, woonplaats 
from medewerker 
limit 2

De volgorde van de rijen maakt meestal niet uit. Bij de opgaven waarin de rijen gesorteerd moeten worden wordt dat (nog) niet gecontroleerd, dus kijk zelf of de volgorde dan correct is. De volgende query wordt daarom ook goed gekeurd.

In [9]:
%%uitwerking 1
select naam, woonplaats 
from medewerker 
order by woonplaats

Als het aantal rijen en kolommen klopt, dan worden de rijen gecontroleerd. Rijen die niet kloppen kleuren dan rood om je te helpen de fout op te sporen.

In [10]:
%%uitwerking 1
select naam, "Leiden" 
from medewerker

Tot slot, kun je natuurlijk ook fouten maken in je query. Dan wordt de foutmelding van SQL getoond om je te helpen fouten eruit te halen. In onderstaande query staat bijvoorbeeld een kolom geboorteplaats die niet in de tabel medewerker staat.

In [11]:
%%uitwerking 1
select naam, geboorteplaats 
from medewerker

De foutmeldingen zijn niet altijd even duidelijk. In onderstaande voorbeeld is de fout natuurlijk dat er FFFROM staat in plaats van FROM, maar vaak zit de fout wel in de buurt van het woord waar SQL over klaagt.

In [12]:
%%uitwerking 1
select naam, geboorteplaats 
FFFROM medewerker

Dat is de tutorial, nu ben je klaar om in de les SQL te leren met deze SQL tool.

Veel succes!