# 2016_2017 Oefening DB creation & querying 
## Queries lezen

In [1]:
%connect festival

<a id=festival></a>
## Case: FESTIVAL

In de case FESTIVAL staan 4 tabellen: plaats, artiest, festival en speelt. De tabel speelt geeft aan welke artiest op welk festival speelt, hoeveel dat kost en hoeveel minuten de artiest op dat festival speelt.

<img src='festival.png'>

#### Voorbeeld opdracht 201

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam, top10 
FROM artiest
WHERE woonplaats = 'D'```

Om in een vraag de inhoud van een tabel te bekijken kun je een cel toevoegen met %show erin.

In [2]:
%show artiest

Geef je antwoord onder de %%resultaat VRAAGNUMMER. Zet elke rij op een aparte regel, en scheidt de kolommen door bijvoorbeeld door een ,

Als het aantal rijen of kolommen niet klopt krijg je onderstaande foutmelding

In [3]:
%%resultaat 201
Anouk,10
Direct,6
Kensington,0

Onderstaande voorbeeld toont wat er gebeurt als er een fout in het voorspelde resultaat zit, dan kleuren de rijen met een fout rood.

In [4]:
%%resultaat 201
Anouk,10
Direct,6

En als het voorspelde resultaat correct is dan kleurt de tabel groen.

In [5]:
%%resultaat 201
Anouk,15
Direct,6

###### Opdracht 202

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam
FROM festival
```

In [6]:
%show festival

In [7]:
%%resultaat 202
Pinkpop
Pinkpop
Parkpop
Parkpop
Lowlands

###### Opdracht 203

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT 'Pinkpop'
FROM festival
```

In [8]:
%show festival

In [9]:
%%resultaat 203
Pinkpop
Pinkpop
Pinkpop
Pinkpop
Pinkpop

###### Opdracht 204

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT id, 'Utrecht'
FROM plaats
```

In [10]:
%show plaats

In [11]:
%%resultaat 204
D, Utrecht
L, Utrecht
A, Utrecht
U, Utrecht

###### Opdracht 205

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT DISTINCT naam
FROM festival
```

In [12]:
%show festival

In [13]:
%%resultaat 205
Pinkpop
Parkpop
Lowlands

###### Opdracht 206

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT DISTINCT naam, jaar
FROM festival
```

In [14]:
%%resultaat 206
Pinkpop, 2016
Pinkpop, 2017
Parkpop, 2016
Parkpop, 2017
Lowlands, 2017

###### Opdracht 207

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT plaats, count(bezoekers)
FROM festival
GROUP BY plaats
```

In [15]:
%show festival

In [16]:
%%resultaat 207
L, 2
D, 1
, 1

###### Opdracht 208

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT plaats, sum(bezoekers)
FROM festival
GROUP BY plaats
```

In [17]:
%%resultaat 208
L, 230
D, 280
, 200

###### Opdracht 209

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT count(naam)
FROM festival
```

In [18]:
%%resultaat 209
5

###### Opdracht 210

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT count(distinct naam)
FROM festival
```

In [19]:
%%resultaat 210
3

###### Opdracht 211

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT count(*)
FROM festival
WHERE plaats = NULL
```

In [20]:
%%resultaat 211
0

###### Opdracht 212

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT count(*)
FROM festival
WHERE plaats IS NULL
```

In [21]:
%%resultaat 212
1

###### Opdracht 213

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT count(*)
FROM festival
WHERE plaats <> NULL
```

In [22]:
%%resultaat 213
0

###### Opdracht 214

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT count(*)
FROM festival
WHERE plaats IS NOT NULL
```

In [23]:
%%resultaat 214
4

###### Opdracht 215

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam
FROM festival
GROUP BY naam
HAVING sum(bezoekers) > 200
```

In [24]:
%%resultaat 215
Pinkpop
Parkpop

###### Opdracht 216

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam
FROM festival
GROUP BY naam, jaar
HAVING sum(bezoekers) > 200
```

In [25]:
%%resultaat 216
Parkpop

###### Opdracht 217

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT COUNT(*)
FROM festival
GROUP BY plaats
```

In [26]:
%%resultaat 217
2
2
1

###### Opdracht 218

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT DISTINCT COUNT(plaats)
FROM festival
```

In [27]:
%%resultaat 218
4

###### Opdracht 219

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT COUNT(*)
FROM artiest, plaats
WHERE woonplaats=plaats.id
```

In [28]:
%%resultaat 219
4

###### Opdracht 220

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT COUNT(*)
FROM artiest, plaats
WHERE woonplaats=artiest.id
```

In [29]:
%%resultaat 220
0

###### Opdracht 221

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT COUNT(*)
FROM artiest, plaats
```

In [30]:
%%resultaat 221
20

###### Opdracht 222

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT artiest.naam, plaats.naam
FROM artiest LEFT JOIN plaats
ON woonplaats=plaats.id
```

In [31]:
%%resultaat 222
Anouk, Den Haag
Direct, Den Haag
Nielson,
Kensington, Utrecht
Gordon, Amsterdam

###### Opdracht 223

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT artiest.naam, plaats.naam
FROM plaats LEFT JOIN artiest
ON woonplaats=plaats.id
```

In [32]:
%%resultaat 223
Anouk, Den Haag
Direct, Den Haag
, Landgraaf
Kensington, Utrecht
Gordon, Amsterdam

###### Opdracht 224

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT artiest.naam, plaats.naam
FROM artiest LEFT JOIN plaats ON woonplaats=plaats.id
WHERE woonplaats=plaats.id
```

Merk op dat MySQL je verplicht om het ON-gedeelte op te nemen. Bij standaard SQL is dat niet zo en kun je het ON-gedeelte weglaten, het resultaat is hetzelfde en daarmee is dit een veel gemaakte fout in SQL.

In [33]:
%%resultaat 224
Anouk, Den Haag
Direct, Den Haag
Kensington, Utrecht
Gordon, Amsterdam

###### Opdracht 225

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT P.naam, count(artiest.id)
FROM plaats P LEFT JOIN artiest
ON woonplaats=P.id
GROUP BY P.naam
```

In [34]:
%%resultaat 225
Den Haag, 2
Landgraaf, 0
Amsterdam, 1
Utrecht, 1

###### Opdracht 226

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT P.naam, count(*)
FROM plaats P LEFT JOIN artiest
ON woonplaats=P.id
GROUP BY P.naam
```

In [35]:
%%resultaat 226
Den Haag, 2
Landgraaf, 1
Amsterdam, 1
Utrecht, 1

###### Opdracht 227

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam
FROM artiest
WHERE woonplaats IN (SELECT id FROM plaats WHERE inwoners > 300) 
```

In [36]:
%%resultaat 227
Anouk
Direct
Gordon

### Opdracht 228

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam
FROM artiest
WHERE woonplaats NOT IN (SELECT id FROM plaats WHERE inwoners > 300) 
```

In [37]:
%%resultaat 228
Kensington

###### Opdracht 229

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT F.naam, COUNT(*)
FROM festival F LEFT JOIN speelt ON festival = F.id
LEFT JOIN artiest A ON artiest = A.id
WHERE woonplaats IS NOT NULL
GROUP BY F.naam
```

In [38]:
%%resultaat 229
Pinkpop, 4
Parkpop, 1

###### Opdracht 230

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT F.naam, COUNT(*)
FROM festival F LEFT JOIN speelt ON festival = F.id
LEFT JOIN artiest A ON artiest = A.id
AND woonplaats IS NOT NULL
GROUP BY F.naam
```

In [39]:
%%resultaat 230
Pinkpop, 4
Parkpop, 1
Lowlands, 0

###### Opdracht 232

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam
FROM artiest
WHERE id in 
(SELECT artiest FROM speelt, festival
WHERE festival = id and naam = 'Pinkpop')
```

In [40]:
%%resultaat 232
Anouk
Kensington
Gordon

###### Opdracht 233

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam from plaats P, festival where plaats = P.id
UNION
SELECT naam from plaats P, artiest where woonplaats = P.id
```

In [41]:
%%resultaat 233
Landgraaf
Den Haag
Utrecht
Amsterdam

###### Opdracht 234

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam FROM plaats where naam LIKE '%a%
UNION
SELECT naam FROM artiest where naam LIKE '%a%'
```

In [42]:
%%resultaat 234
Den Haag
Landgraaf
Amsterdam
Anouk

###### Opdracht 235

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam, jaar
FROM festival
WHERE bezoekers = (Select MAX(bezoekers) from festival)
```

In [43]:
%%resultaat 235
Parkpop, 2016

###### Opdracht 236

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam
FROM festival
WHERE jaar = (SELECT MIN(jaar) from festival)
```

In [44]:
%%resultaat 236
Pinkpop
Parkpop

###### Opdracht 237

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam
FROM artiest
WHERE id in (
   SELECT artiest
   FROM speelt, festival F, plaats P
   WHERE festival = F.id
   AND plaats = woonplaats
)
```

In [45]:
%%resultaat 237
Anouk

###### Opdracht 238

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam, (SELECT 1)
FROM artiest
```

In [46]:
%%resultaat 238
Anouk, 1
Direct, 1
Nielson, 1
Kensington, 1
Gordon, 1

###### Opdracht 239

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam, (SELECT COUNT(*) FROM speelt)
FROM artiest
```

In [47]:
%%resultaat 239
Anouk, 6
Direct, 6
Nielson, 6
Kensington, 6
Gordon, 6

###### Opdracht 240

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam, (SELECT COUNT(*) from speelt where artiest = id)
FROM artiest
```

In [48]:
%%resultaat 240
Anouk, 2
Direct, 0
Nielson, 1
Kensington, 2
Gordon, 1

###### Opdracht 241

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam from plaats
where id IN (
   SELECT plaats FROM festival WHERE bezoekers = 
       (Select MIN(bezoekers) from festival)
)
```

In [49]:
%%resultaat 241
Landgraaf

###### Opdracht 242

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT A.naam 
FROM artiest A, speelt, festival
WHERE A.id = artiest
AND festival.id = festival
AND bezoekers = (Select MIN(bezoekers) FROM festival)
```

In [50]:
%%resultaat 242
Anouk
Kensington
Gordon

###### Opdracht 243

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam from artiest
where id IN (
   SELECT artiest FROM speelt WHERE festival = (
      SELECT id
      FROM festival
      WHERE bezoekers = (Select MIN(bezoekers) from festival)
   )
)
```

In [51]:
%%resultaat 243
Anouk
Kensington
Gordon

###### Opdracht 244

Voor de <a href=#festival>case</a>, geef de uitvoer van de volgende query:
```
SELECT naam
FROM ARTIEST
WHERE woonplaats IN (
   SELECT P.id FROM plaats P, artiest
   WHERE woonplaats = P.id
   GROUP BY P.id
   HAVING COUNT(*) = (SELECT MAX(Y.num) FROM (SELECT COUNT(*) as num FROM artiest GROUP BY woonplaats) Y)
)
```

In [52]:
%%resultaat 244
Anouk
Direct