# 2016_2017 Oefening DB creation & querying 
## Aggregaties over meerdere tabellen

In [1]:
%connect auteur

<a id=project></a>
## Case: AUTEUR

In de case AUTEUR staan 4 tabellen: uitgever, auteur, boek en coauteur. Die gaan over hoe de omzet van boeken wordt verdeeld over de auteur, coauteurs en uitgever.

<img src='auteur.png'>

#### Opdracht 91

Toon voor elk boek de prijs na aftrek van de te betalen royalty.

Voorbeeld: Je kunt zien wat er uit een correcte query moet komen door de cel met %output 91 te runnen
Plaats je query in de cel onder %%uitwerking 91:
```
%%uitwerking 91
SELECT prijs - royalty
FROM boek	```

En run de cel

In [2]:
%output 91

In [3]:
%%uitwerking 91
SELECT prijs - royalty
FROM boek

###### Opdracht 92

Toon voor elk boek de titel en de omzet (verkocht * prijs)

In [4]:
%output 92

In [5]:
%%uitwerking 92
SELECT titel, verkocht*prijs
FROM boek

#### Opdracht 93

Toon het totale aantal verkochte boeken

In [6]:
%output 93

In [7]:
%%uitwerking 93
SELECT SUM(verkocht)
FROM boek

#### Opdracht 94

Toon het per uitgevercode, de uitgevercode en het totale aantal verkochte boeken

In [8]:
%output 94

In [9]:
%%uitwerking 94
SELECT uitgever, SUM(verkocht)
FROM boek
GROUP BY uitgever

#### Opdracht 95

Groepeer de boeken op auteur en toon per groep enkel het totale aantal verkochte boeken (1 kolom dus)

In [10]:
%output 95

In [11]:
%%uitwerking 95
SELECT SUM(verkocht)
FROM boek
GROUP BY auteur

#### Opdracht 96

Sommeer van alle boeken het te betalen bedrag aan de auteur (verkocht * royalty)

In [12]:
%output 96

In [13]:
%%uitwerking 96
SELECT SUM(verkocht*royalty)
FROM boek

#### Opdracht 97

Toon per uitgever de code en het gemiddelde royaltybedrag van de boeken

In [14]:
%output 97

In [15]:
%%uitwerking 97
SELECT uitgever, AVG(royalty)
FROM boek
GROUP BY uitgever

#### Opdracht 98

Toon per auteur de code en het gemiddelde aantal verkochte boeken waarvan de uitgevercode alfabetisch na de "C" komt en het royaltybedrag kleiner dan 2 is

In [16]:
%output 98

In [17]:
%%uitwerking 98
SELECT auteur, AVG(verkocht)
FROM boek
WHERE uitgever > 'C' AND royalty < 2
GROUP BY auteur

###### Opdracht 99

Toon van alle coauteurs, de code en het gemiddelde royalty_perc

In [18]:
%output 99

In [19]:
%%uitwerking 99
SELECT auteur, AVG(royalty_perc)
FROM coauteur
GROUP BY auteur

#### Opdracht 100

Toon van elke auteur de code en uitgevercode indien hij meer dan 1 boek bij die uitgever heeft uitgegeven

In [20]:
%output 100

In [21]:
%%uitwerking 100
SELECT auteur, uitgever
FROM boek
GROUP BY auteur, uitgever
HAVING COUNT(*) > 1

#### Opdracht 101

Toon van alle auteurs van wie de opgetelde royalty bedragen (in boek) groter dan 2 zijn, hun code en het totaal aantal verkochte boeken

In [22]:
%output 101

In [23]:
%%uitwerking 101
SELECT auteur, SUM(verkocht)
FROM boek
GROUP BY auteur
HAVING SUM(royalty) > 2

#### Opdracht 102

Toon de auteurcode van alle coauteurs die precies 1 boek hebben geschreven met een royalty_perc van 20

In [24]:
%output 102

In [25]:
%%uitwerking 102
SELECT auteur
FROM coauteur
WHERE royalty_perc == 20
GROUP BY auteur
HAVING COUNT(*) == 1

#### Opdracht 103

Toon het aantal uitgevers die boeken hebben uitgegeven

In [26]:
%output 103

In [27]:
%%uitwerking 103
SELECT COUNT(DISTINCT uitgever)
FROM boek

#### Opdracht 104

Toon per uitgevernaam en auteurnaam het totale bedrag dat de auteur van de uitgever krijgt (per boek is dat verkocht * royalty)

In [28]:
%output 104

In [29]:
%%uitwerking 104
SELECT uitgever.naam, auteur.naam, SUM(boek.verkocht * boek.royalty)
FROM boek
JOIN uitgever
ON boek.uitgever = uitgever.code
JOIN auteur
ON boek.auteur = auteur.code
GROUP BY uitgever.naam, auteur.naam

#### Opdracht 105

Toon de auteurnaam, titel en uitgevernaam van alle boeken waarvan meer dan 1000 exemplaren zijn verkocht

In [30]:
%output 105

In [31]:
%%uitwerking 105
SELECT auteur.naam, boek.titel, uitgever.naam
FROM boek
JOIN auteur
ON boek.auteur = auteur.code
JOIN uitgever
ON boek.uitgever = uitgever.code
WHERE boek.verkocht > 1000

#### Opdracht 106

Toon per auteur de auteurnaam en de namen van alle uitgevers waarbij hij een boek heeft uitgebracht (zonder dubbele)

In [32]:
%output 106

In [33]:
%%uitwerking 106
SELECT DISTINCT auteur.naam, uitgever.naam
FROM boek
JOIN auteur
ON boek.auteur = auteur.code
JOIN uitgever
ON uitgever.code = boek.uitgever

#### Opdracht 107

Toon van alle uitgevers de naam en het totale aantal verkochte boeken

In [34]:
%output 107

In [35]:
%%uitwerking 107
SELECT naam, SUM(verkocht)
FROM uitgever
LEFT JOIN boek
ON uitgever.code = boek.uitgever
GROUP BY naam

#### Opdracht 108

Toon per boek de titel, het aantal auteurs ( 0 of 1 ) en het aantal coauteurs (uit coauteur)

In [36]:
%output 108

In [37]:
%%uitwerking 108
SELECT boek.titel, COUNT(DISTINCT boek.auteur), COUNT(coauteur.auteur)
FROM boek
LEFT JOIN coauteur
ON boek.isbn = coauteur.boek
GROUP BY boek.isbn, boek.titel, boek.auteur

#### Opdracht 109

Toon van alle boeken de naam van de coauteur en de titel

In [38]:
%output 109

In [39]:
%%uitwerking 109
SELECT auteur.naam, boek.titel
FROM boek
LEFT JOIN coauteur
ON boek.isbn = coauteur.boek
LEFT JOIN auteur
ON coauteur.auteur = auteur.code

#### Opdracht 110

Toon van alle uitgevers de naam en de woonplaatsen waar hun auteurs wonen

In [40]:
%output 110

In [41]:
%%uitwerking 110
SELECT uitgever.naam, auteur.woonplaats
FROM uitgever
LEFT JOIN boek
ON uitgever.code = boek.uitgever
LEFT JOIN auteur
ON boek.auteur = auteur.code

#### Opdracht 111

Toon van alle auteurs de naam, het aantal boeken dat hij geschreven heeft als auteur + het aantal boeken waar hij aan meegeschreven heeft als coauteur

In [42]:
%output 111

In [43]:
%%uitwerking 111
SELECT auteur.naam, COUNT(boek.isbn) + COUNT(coauteur.boek)
FROM auteur
LEFT JOIN boek 
ON auteur.code = boek.auteur
LEFT JOIN coauteur
ON auteur.code = coauteur.auteur
GROUP BY auteur.naam

## SUBSELECT

We mogen in SQL ook gebruik maken van 'nested queries', dit heet een subselect. Je kunt bijvoorbeeld de resultaten van een subselect gebruiken in de WHERE-clausule van een andere query. Zet daarvoor de SUBSELECT tussen (), en je kunt met de IN- en NOT IN-operatoren bepalen of een waarde voorkomt in de subselect. Maar op een soortgelijke manier mag je SUBSELECTS bijvoorbeeld ook gebruiken in de FROM, SELECT of HAVING clausules.

#### Opdracht 112

Toon de titel en naam van alle boeken die bij hun uitgever de hoogste omzet hebben (verkocht * prijs)

In [44]:
%output 112

In [45]:
%%uitwerking 112
SELECT boek.titel, uitgever.naam
FROM boek
JOIN uitgever
ON boek.uitgever = uitgever.code
WHERE (boek.verkocht * boek.prijs) = (
    SELECT MAX(b2.verkocht * b2.prijs)
    FROM boek b2
    WHERE b2.uitgever = boek.uitgever
)
ORDER BY uitgever.naam

#### Opdracht 113

Geef de titel van alle boeken die een coauteur hebben en niet het goedkoopste boek zijn

In [46]:
%output 113

In [47]:
%%uitwerking 113
SELECT boek.titel
FROM boek
WHERE boek.isbn IN (SELECT boek FROM coauteur)
AND boek.prijs > (SELECT MIN(prijs) FROM boek)
ORDER BY boek.titel

#### Opdracht 114

geef van alle boeken de auteursnaam als ze een coauteur hebben met een naam die eerder in het alfabet voorkomt dan de naam van de auteur

In [48]:
%output 114

In [49]:
%%uitwerking 114
SELECT DISTINCT a1.naam
FROM boek
JOIN auteur a1 ON boek.auteur = a1.code
JOIN coauteur ON boek.isbn = coauteur.boek
JOIN auteur a2 ON coauteur.auteur = a2.code
WHERE a2.naam < a1.naam
ORDER BY boek.titel, a1.naam;

## UNION

Met UNION kun je de resultaten van twee of meer queries tot 1 tabel samenvoegen. Een eis is wel dat beide queries hetzelfde aantal kolommen moeten hebben. Bij een UNION wordt altijd door SQL een DISTINCT uitgevoerd, dus dubbele rijen worden automatisch verwijderd. Als je de rijen in de uitvoer wilt sorteren, dan kun je dat alleen maar aan het eind van de gehele query doen over de eindtabel.

#### Opdracht 115

Geef (in een tabel) naam, adres, woonplaats van alle auteurs en uitgevers

In [50]:
%output 115

In [51]:
%%uitwerking 115
SELECT naam, adres, woonplaats
FROM auteur
UNION
SELECT naam, adres, woonplaats
FROM uitgever

#### Opdracht 116

Geef (in 1 tabel) naam, adres, woonplaats van alle auteurs en uitgevers, gesorteerd op naam

In [52]:
%output 116

In [53]:
%%uitwerking 116
SELECT naam, adres, woonplaats
FROM auteur
UNION
SELECT naam, adres, woonplaats
FROM uitgever
ORDER BY naam

#### Opdracht 117

Geef (in 1 tabel) naam, adres, woonplaats van alle auteurs die uit Den Haag komen en van alle uitgevers die een boek uitgeven van een auteur die uit Den Haag komt

In [54]:
%output 117

In [55]:
%%uitwerking 117
SELECT naam, adres, woonplaats
FROM auteur
WHERE woonplaats == 'Den Haag'
UNION
SELECT uitgever.naam, uitgever.adres, uitgever.woonplaats
FROM uitgever
JOIN boek
ON boek.uitgever = uitgever.code
JOIN auteur
ON boek.auteur = auteur.code
WHERE auteur.woonplaats = 'Den Haag'

#### Opdracht 118

Geef de naam van de auteur die de meeste boeken heeft verkocht.

In [56]:
%output 118

In [57]:
%%uitwerking 118
SELECT auteur.naam
FROM auteur
JOIN boek
ON auteur.code = boek.auteur
GROUP BY auteur.naam
HAVING SUM(boek.verkocht) = 
    (SELECT MAX(totaal)
    FROM (
        SELECT SUM(verkocht) AS totaal
        FROM boek
        GROUP BY auteur))

#### Opdracht 119

Geef de naam van de auteurs die bij een enkele uitgever boeken heeft uitgebracht als hoofdauteur (dus in boek en niet in coauteur).

In [58]:
%output 119

In [59]:
%%uitwerking 119
SELECT auteur.naam
FROM auteur
JOIN boek
ON auteur.code = boek.auteur
GROUP BY auteur.naam
HAVING COUNT(DISTINCT boek.uitgever) = 1
ORDER BY auteur.naam

#### Opdracht 120

Geef van het meest verkochte boek de titel van het boek en naam van de uitgever

In [60]:
%output 120

In [61]:
%%uitwerking 120
SELECT boek.titel, uitgever.naam
FROM boek
JOIN uitgever
ON boek.uitgever = uitgever.code
WHERE boek.verkocht = (SELECT MAX(verkocht) FROM boek)